[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=keyboard-repeat-rate
Comment=
Exec=xset r rate 250 30
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

