[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=mouse-sens
Comment=
Exec=xinput --set-prop 10 'libinput Accel Speed' -0.8
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

